acinclude.m4
aclocal.m4
config.cache
config.h
config.h.in
config.log
config.status
configure
Makefile.config
stamp-h
stamp-h.in
depcomp
autom4te.cache
stamp-h1
.deps
.vimrc
elinks
*.swp
*.patch
features.log
